body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
